@model IEnumerable<Recruiter.ViewModels.ApplicationVM>
@{
    ViewBag.Title = "Dashboard";
    //Layout = "~/Views/Shared/_Layout.cshtml";

    Layout = "~/Views/Shared/ProfileLayout.cshtml";
}

<h2>Dashboard</h2>

